---
import AstroBubble from "./AstroBubble.astro";
interface Props {
  currentPage: string;
}
const { currentPage } = Astro.props;
---

<div class="my-4 justify-center flex gap-2">
  <AstroBubble tag="Software" select={currentPage === "software"} href="/" />
  <AstroBubble
    tag="Workflows"
    select={currentPage === "workflows"}
    href="/workflows"
  />
  <AstroBubble
    tag="Add your project!"
    select={currentPage === "new"}
    href="/new"
  />
</div>
