name: Run tests

on:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2
      - name: Install packages
        run: bun install --frozen-lockfile -d
      - name: Run tests
        run: bun test
